.composition__image {
    margin: 20px auto;
    padding: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
}
@media screen and (max-width: 1279px) {
    .composition__image {
    }
  }
  @media screen and (max-width: 1023px) {
    .composition__image {
      margin: 5px auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    .composition__image {
        width: 80px;
        height: 80px;
    }
  }