.promo__video {
  position: absolute;
  /* left: 0; */
  /* top: 0; */
  width: 100%;
  /* height: 100%; */
  /* right: 0; */
  bottom: 0;
  margin: auto;
  padding: 0;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .promo__video {
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 1023px) {
  .promo__video {
  }
}

@media screen and (max-width: 767px) {
  .promo__video {
    height: auto;
    left: 0;
    top: 0;
    right: 0;
  }
}
