.composition__item {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1279px) {
    .composition__item {
    }
  }
  @media screen and (max-width: 1023px) {
    .composition__item {
      margin-top: 10px;
        width: 200px;
        height: 200px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .composition__item {
        width: 100px;
        height: 120px;
    }
  }