.feedback__radio {
    position: absolute;
    visibility: hidden;
}
#r1:checked ~ #feedback__response1 {
    margin-left: 0;
}
#r2:checked ~ #feedback__response1 {
    margin-left: -33.9%;
}
#r3:checked ~ #feedback__response1 {
    margin-left: -67.6%;
}
