.order__image {
  margin: 0;
  padding: 0;
  max-width: 350px;
  height: 450px;
}

@media screen and (max-width: 1023px) {
  .order__image {
    width: 200px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .order__image {
    margin: 0 auto 20px;
  }
}
