.promo__title {
  padding: 0;
  margin: 50px auto;
  font-size: 4em;
  position: relative;
  z-index: 2;
  border: 2px solid;
  color: #12f7e0;
  color: rgb(12, 161, 109);
}
@media screen and (max-width: 767px) {
  .promo__title {
    margin: 15px auto;
  }
}
