.photo__property {
  margin: 0 25px 0 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 700;
}

@media screen and (max-width: 1023px) {
  .photo__property {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .photo__property {
    margin-left: 10px;
    text-align: center;
    font-size: 0.8em;
  }
}
