.order__link {

}
@media screen and (max-width: 1279px) {
    .order__link {
        
    }
}
@media screen and (max-width: 1023px) {
    .order__link {
        width: 160px;
        height: 80px;
        font-size: 1.5em;
        line-height: 80px;
    }
}

@media screen and (max-width: 767px) {
    .order__link {
        
    }
}